# [submodule "iOS/SubProject/MVC"]
# 	url = git@github.com:hsleedevelop/iOS-Lab-MVC.git
# [submodule "iOS/SubProject/Patterns"]
# 	url = git@github.com:hsleedevelop/iOS-Lab-Patterns.git
# [submodule "iOS/SubProject/Umbrella"]
# 	url = git@github.com:hsleedevelop/iOS-Lab-Umbrella.git